<table class="table table-striped table-hover text-center">
    <thead>
        <tr>
            <th>Portada</th>
            <th>Nombre</th>
            <th>Género</th>
            <th>Duración</th>
            <th>Director</th>
            <th>Año</th>
            <th>Vista</th>
            <th>Reseña</th>
            <th>Favoritos</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movie of movies" [ngClass]="{'premiere': movie.premiere}">
            <td><img width="170" class="img-thumbnail" [src]="movie.image" [alt]="movie.name"></td>
            <td>{{movie.name}}</td>
            <td>{{movie.genre}}</td>
            <td>{{movie.duration | duration}}</td>
            <td>{{movie.director}}</td>
            <td>{{movie.year}}<span class="badge text-bg-success" *ngIf="movie.premiere">estreno</span></td>
            <td><app-button-switch [(seen)]="movie.seen"></app-button-switch></td>
            <td><textarea class="disable">{{movie.review}}</textarea></td>
            <td><button class="btn btn-outline-warning"><i class="fa-solid fa-plus"></i></button></td>
        </tr>
    </tbody>
</table>